.dash-initial-cont{
    display: flex;
    flex-direction: column;
    height:100vh;
    background-color: var(--main-dark-bc);}

.dash-m-main-c{
    display: flex;
    flex-grow: 1;

}
.dash-m-menu-main{
    flex-grow: 1;
    min-width: 280px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 5px 0px;

}
.dash-main-m
{
    padding-top: max(70px , 10vh);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width:none
}


.dash-main-dashboard-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-dark-bc);
    border-radius: 10px;
    margin: 4px 4px 4px 0px;
    padding: 20px 16px;
}


.dash-dash-head{
    margin: 0;
    color: #f0f0f0;
    font-weight: 500;
    font-size: 20px;
}

.dash-dash-time{
    color: #f0f0f0;
    margin: 0;
    font-size: 16px;
}

.dash-m-menu-c{
    width: 100%;
    margin-top: 4px;
    height: 80vh;
    flex-grow: 1;
    margin-left: 4px;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    padding-top: max(70px , 10vh);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-theme-c); 
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-button {
  display: none; /* hides up/down arrows */
}

.dash-m-menu-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    margin: 4px 4px 4px 0px;
    height: 100vh;
    width: 100%;
    flex-grow: 1;
    border-radius: 10px;
    background-color: var(--header-dark-bc);
    overflow-y: auto;
}

.dash-m-menu-list-branch-one-only{
    background-color: var(--header-dark-bc);
    width: 100%;
    display: flex;
    border-radius: 10px;
}

.dash-m-menu-branch-one{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 26px;
    border-radius: 8px;
    border: 1px solid #6d6d6d;
    background-color: transparent;
    color: #ffffff;
    font-size: 14px;
    margin: 10px 10px;
    cursor: pointer;
}

.dash-m-menu-line{
    padding: 0px 10px;

}


.dash-m-menu-items{
    display: flex;
    align-items: center;
    margin: 10px 10px 0px 10px;
    border-radius: 10px;
    padding: 10px 16px;
    cursor: pointer;
}

.dash-m-menu-items:hover{
    background-color: #2f3b4e;
}

.dash-current-one{
    background-color: #2f3b4e;
    font-weight: 600 !important;
}

.dash-current-one h1{
    /* background-color: #2f3b4e; */
    font-weight: 600 !important;
}

.dash-current-one .menu-down-arr{
    color: #ffffff;
}

.dash-current-one .menu-logos{
    filter: blur(0px);
}

.dash-m-menu-items-head{
    color: #f0f0f0;
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
}

.menu-logos{
    font-size: 20px;
    font-weight: bold;
    filter: blur(0.4px);
    color: #c5c3c3;
    margin-right: 10px;
}


.menu-down-arr{
    color: #6d6d6d;
    margin-left: auto;
    font-size: 20px;
}

.dash-m-left-call-waiter-one{
    background-color:var(--header-dark-bc);
    color: #c5c3c3;
    margin: 0px;
    border-radius: 10px;
    padding: 10px;
}

.dash-m-left-call-waiter-one button{
    background-color: var(--main-theme-c);
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}

.dash-middle-m-cont{
    display: flex;
    margin-top: 10px;
}

.dash-middle-m-left-cont{
    display: flex;
    flex-direction: column;
    /* background-color: #2f3b4e; */
    flex-grow: 1;
    padding: 10px;

}


.dash-stats-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 10px;
}

.dash-stats-parts{
    min-width: 40%;
    max-width: 49%;
    flex-grow: 1;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--header-dark-bc);
    position: relative;
    padding-top: 50px;
    border: 1px solid var(--glass-br-c);
    z-index: 100;
}



@keyframes goup {
    0%{
        top: 0px;
    } 100%{
        top: -30px;
    }
}

.dash-stats-enhance-cont{
    position: absolute;
    background-color: transparent;
    top: 0px;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    animation: goup 1s ease 0.5s 1 forwards;
}

.dash-stats-enhance{

    background-color: #952a88;
    display: inline;
    font-size: 12px;
    color: #ffffff;
    z-index: -2;
    height: 30px;
    padding: 10px 5px;
    margin: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: inset 0 -5px 10px -5px var(--header-dark-bc);

}

.dash-stats-parts:hover .dash-stats-enhance-cont{
    display: flex;
}

.dash-stats-parts-heads-cont{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--header-dark-bc);
    /* height: 30px; */
    z-index: 100;
    display: flex;
    justify-content: flex-start;
}


.dash-stats-parts-heads{

    margin: 0px;
    padding: 8px 8px;
    background-color: #2c3541;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 16px;
    color: #e6e0e0;
    /* background-color: pink; */
    display: inline;
}

.dash-stats-parts-count{
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    margin: 0px;
}

.dash-stats-parts-inner-cont{
    display: flex inline;
    align-items: center;
    width: auto;
    flex-wrap: wrap;
}

.dash-stats-parts-percent{
    color: rgb(0, 171, 0);
    font-weight: 600;
    margin-right: 20px;

}

.dash-stats-parts-p{

    color: var(--text-color);
}

.on-sp-count{
    color: #c1bcd1;
}


.dash-stats-parts-selling-ye{
    color: #952a88;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
}






.dash-middle-m-left-main-head{
    color: #e6e0e0;
    font-size: 20px;
    font-weight: 500;
    margin: 0px;


}

.dash-middle-m-right-cont{
    width: 320px;
    height: 200px;
    background-color: pink;
}