.waiter-request-button{
    background-color: #111827;
    color: #d9d5d5;
    border: 1px solid #111827;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    &:hover{
        scale: 1.02;
    }
}

.waiter-request-main-cont{
    display: flex;

}

.waiter-request-main-cont-one{
    flex-grow: 4;
    padding: 10px;

}

.waiter-request-main-cont-one-head{
    font-size: 24px;
    font-weight: 500;
    color: #d9d5d5;
}

.waiter-request-main-cont-one-list{
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.waiter-request-main-cont-one-list li{
    display: flex;
    flex-direction: column;
    background-color: var(--header-dark-bc);
    border-radius: 10px;
    margin: 10px;
}

.waiter-request-main-cont-one-list-head{
    font-size: 24px;
    font-weight: 500;
    color: #d9d5d5;
    margin:8px;   
    border-left: 4px solid var(--sp-c); 
    border-radius: 4px;
    padding: 4px 4px 4px 8px;

}

.waiter-request-main-cont-one-list-inner-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 4px;
    background-color: var(--glass-c);
    margin: 8px;
}

.waiter-request-main-cont-one-list-inner-cont p{
    margin: 0px;
    color: #bab5b5;
    font-size: 16px;
    font-weight: 500;
}

.waiter-request-main-cont-one-list-inner-cont-icon{
    font-size: 24px;
    color: #bab5b5;
    margin-right: 8px;
}

.waiter-request-main-cont-two{
    flex-grow: 1;
    padding: 10px;
    /* background-color: #010b20; */
}

.waiter-request-main-cont-two-head{
    font-size: 24px;
    font-weight: 500;
    color: #d9d5d5;

}

.waiter-request-main-cont-two-list{
    display: flex;
    flex-direction: column;
    padding: 0px;
    /* margin: 0px; */
    margin-top: 20px;
}

.waiter-request-main-cont-two-list li{
    background-color: #010b20;
    border-radius: 10px;
    margin: 0px 0px 19px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-left: 4px solid var(--sp-c);
    border-radius: 4px;
}


.waiter-request-main-cont-two-list-inner-cont{
    display: flex;
    align-items: center;
    /* background-color: pink; */
    width: 100%;
    justify-content: space-between;
    margin: 0px 0px 16px 0px;
}

.waiter-request-main-cont-two-list-inner-cont-head{
    font-size: 24px;
    font-weight: 500;
    color: #d9d5d5;
    margin: 0px;
}

.waiter-request-main-cont-two-list-inner-cont-p{
    font-size: 16px;
    font-weight: 500;
    color: #bab5b5;
    margin: 0px;
}

.waiter-request-main-cont-two-button{
    background-color: #111827;
    color: #d9d5d5;
    border: 2px solid var(--sp-c);
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.1s ease;
}

.waiter-request-main-cont-two-button:hover{
    /* scale: 1.02; */
    background-color: #1d273e;
    /* color: var(--sp-c); */

}

.available-p{
    border-right: 2px solid var(--green-c);
    border-left: 2px solid var(--green-c);
    padding: 4px;
    border-radius: 4px;

}

.serving-p{
    border-right: 2px solid var(--red-c);
    border-left: 2px solid var(--red-c);
    padding: 4px;
    border-radius: 4px;
}

.cleaning-p{
    border-right: 2px solid var(--yellow-c);
    border-left: 2px solid var(--yellow-c);
    padding: 4px;
    border-radius: 4px;
}