.reservation-page-main-cont-one{
    background-color: var(--header-dark-bc);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* position: relative; */
    /* background-color: pink; */
    justify-content: space-between;

    /* width: 100%; */
}

.reservation-page-main-cont-one-search-cont{
    display: flex;

flex-direction: column
;}

.reservation-page-main-cont-one-search-cont h1{
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    margin: 10px;
}

.reservation-page-main-cont-one-search-cont P{
    margin: 0px 0px 10px 10px;
    color:var(--text-color);
    font-size: 14px;
}
.reservation-page-main-cont-one-button{

    background: linear-gradient(to right, var(--main-theme-c), var(--main-theme-c-2));
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
    align-self: flex-end;
    position: relative;
}


.reservation-page-main-cont-one-button:hover{
    scale: 1.05;
    transform: translateY(-3px);
    box-shadow: 0px 0px 6px 0px var(--main-theme-c-2);
}

.reservation-page-main-cont-one-stats-cont{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.reservation-page-main-cont-one-stats-cont div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #582c53;
    padding: 10px;
    border-radius: 6px;
    flex-grow: 1;
    border: 2px solid #942387;
    transition: all 0.3s ease;
    min-height: 100%;
}

.reservation-page-main-cont-one-stats-cont div:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 10px 0px #582c53;
}

.reservation-page-main-cont-one-stats-cont div h1{
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
    text-align: center;
}

.reservation-page-main-cont-one-stats-cont div p{
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin: 10px 0px 5px 0px;
    font-weight: 600;
}

.reservation-page-main-cont-two{
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    padding: 0px 10px;
}

.reservation-page-main-cont-two div{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* .reservation-page-main-cont-two div div{
    display: flex;
    align-items: center;
} */

.reservation-page-main-cont-two-div-p-one{
    padding: 10px;
    border-radius: 50%;
    background-color: var(--green-c);
}

.pending-p{
    background-color: var(--yellow-c);
}

.cancelled-p{
    background-color: var(--red-c);
}

.reservation-page-main-cont-two div p{
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
}

.reservation-page-main-cont-three{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    gap: 10px;
    margin: 10px;
}

.reservation-page-main-cont-three li{
    display: flex;
    flex-direction: column;

    background-color: var(--header-dark-bc);
    padding: 10px;
    border-radius: 10px;
    flex-grow: 1;
    /* border: 2px solid #942387; */
    transition: all 0.3s ease;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 6px solid #942387;
}

.reservation-page-main-cont-three li:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 10px 0px #582c53;
}

.reservation-page-main-cont-three-li-div-one{

    display: flex;
    margin: 10px;
    align-items: center;
}

.reservation-page-main-cont-three-li-div-one h1{
    background-color: #942387;
    border-radius: 50%;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    margin:0px 10px 0px 0px;
}

.reservation-page-main-cont-three-li-div-two{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.reservation-page-main-cont-three-li-div-two p{
    margin: 0px;
}

.reservation-page-main-cont-three-li-div-two p:first-child{
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}

.reservation-page-main-cont-three-li-div-two p:last-child{
    font-size: 14px;
    color: var(--text-color);
    margin-top: 4px;
}   

.reservation-page-main-cont-three-li-p-one{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0px 0px 10px;
    font-size: 14px;
    color: var(--text-color);
}

.reservation-page-main-cont-three-li-p-one svg{
    /* font-size: 18px; */
    color: var(--main-theme-c-2);
}

.reservation-page-main-cont-three-li-p-two{
    background-color: #582c53;
    border-left: 4px solid #942387;
    padding: 10px;
    border-radius: 6px;
    margin: 10px;
    font-size: 14px;
    color: var(--text-color);
    font-weight: 600;
    text-align: center;
}

.reservation-page-main-cont-three-li-p-three{
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    gap: 10px;

}
.reservation-page-main-cont-three-li-p-three button{
    padding: 4px;
    color: #ffffff;
    flex-grow: 1;
    border: none;
    cursor: pointer;

}

.reservation-page-main-cont-three-li-p-three button:first-child{
    background-color: var(--btn-c);
    border-radius: 0px 10px 0px 10px;

}

.reservation-page-main-cont-three-li-p-three button:last-child{
    background-color: var(--red-c);
    border-radius: 10px 0px 10px 0px;
}

.reservation-page-main-cont-three li:hover .reservation-page-main-cont-three-li-p-three{
    display: flex;
}

.reservation-page-main-cont-hex-li-success{
border-bottom: 6px solid var(--green-c) !important;
}

.reservation-page-main-cont-hex-li-success:hover{
    background-color: rgba(71, 164, 71, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(71, 164, 71, 0.2) !important;
}

.reservation-page-main-cont-hex-li-cancelled{

    border-bottom: 6px solid var(--red-c) !important;
}

.reservation-page-main-cont-hex-li-cancelled:hover{
    background-color: rgba(238, 97, 97, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(164, 71, 71, 0.2) !important;
}

.reservation-page-main-cont-hex-li-pending{
    border-bottom: 6px solid var(--yellow-c) !important;
}
.reservation-page-main-cont-hex-li-pending:hover{
    background-color: rgba(245, 245, 97, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(164, 164, 71, 0.2) !important;
}
